@import '../../utilities/color-palete.scss';

.home{
  min-width: 280px;
  background-color: $white;
  margin-top: 70px;

  .page {
    height: clamp(650px, 30vw, 800px);
    width: 100%;
    background: 
      url('../../assets/wave.svg')
      no-repeat
      center bottom
    ;
    background-size: cover;

    .profile{
      display: flex;
      flex-direction: row;
      padding: 25px 25px 0px;
      
      img {
        object-fit: cover;
        width: clamp(115px, 25vw, 200px);
        margin: 10px;
        border-radius: 20px;
      }

      .profile-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 278px;
        width: 100%;
        margin-left: 2vw;

        h1 {
          color: $purple;
          font-size: clamp(30px, 6vw, 75px);
          margin: 0px;
        }

        h3 {
          color: $blue;
          font-size: clamp(12px, 2vw, 25px);
          margin: 0px 10px;
        }

        p {
          color: $purple;
          font-size: clamp(12px, 2vw, 25px);
          margin: 10px;
        }

        .profile-introduction {
          align-items: center;
          max-height: 183px;
          padding: 2vw;
        }
      }
    }

    .action {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0px 2vw;

      .contact-panel {
        display: flex;
        height: fit-content;
        padding: 10px 1.25vw;
        border: 1px solid $light-blue;
        border-radius: 10px;
        background-color: rgba(128, 128, 128, 0.800);

        a {
          color: $light-blue;
        }

        img {
          filter: $light-blue-filter;
        }
      }

      .projects-panel {
        display: flex;
        margin: 0px 40px;
      }
    }
  }
  
  @media screen and (max-width: 872px) {
    .page {
      height: fit-content;
      padding-bottom: 25px;

      .action {
        justify-content: center;
        transition: justify-content 0.5s;
        
        .projects-panel {
          margin: 5px 0px;
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 360px) {
    .page {
      .profile {
        img {
          display: none;
        }
      }
    }
  }
}