@import '../../../../utilities/color-palete.scss';

.contact-info {
  a {
    display: flex;
    margin: 8px 0px 0px;
    text-align: left;
    height: 20px;

    cursor: pointer;
    
    img {
      display: flex;
      height: inherit;
      padding-right: 10px;
      vertical-align: middle;
      filter: $blue-filter;
    }
  }
}