.navigation-bar {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  text-transform: uppercase;
  background-color: #62aaaa;

  a {
    color: aliceblue;
    font-size: large;
  }
  
  .logo-container {
    // height: 100%;
    // width: 70px;
    padding: 25px;
  }
  
  .nav-links-container {
    width: 50%;
    height: 100%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    .nav-link {
      margin: 5px;
      padding: 10px 15px;
      border: 1px solid rgb(100, 100, 100);
      border-radius: 8px;
      
      cursor: pointer;

      // &:hover {
      //   background-color: bisque;
      // }
    }
  }
}