.page-container {
  display: flex;
  height: 11in;
  width: 8.5in;
  border: 1px solid darkgray;
}

.left-column {
  margin-left: 15px;
  width: 30%;
}

.middle-decoration {
  width: 5px;
  margin: 0px 8px;
  clip-path: polygon(50% 5%, 100% 50%, 50% 100%, 0% 50%);
  background-color: rgb(120, 160, 160);
}

.right-column {
  margin-right: 15px;
}

.profile-picture {
  display: flex;
  margin: auto;
  padding-top: 15px;
  object-fit: cover;
  width: 150px;
}