.projects-title {  
  h2 {
    margin: 20px 0px 5px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
}

.projects {
  margin: 0px 1px 0px;

  h5 {
    margin: 10px 0px 5px;
  }

  p {
    font-size: 12px;
    padding-left: 10px;
    margin: 2px 0px 12px;
  }
}