.resume {
  display: flex;
  justify-content: center;
}

.page-container {
  display: flex;
  height: 9.65in;
  width: 8.0in;
  border: 1px solid darkgray;
  padding: 0.25in;
}

.left-column {
  margin-left: 15px;
  width: 30%;
}

.middle-decoration {
  width: 5px;
  margin: 0px 8px;
  clip-path: polygon(50% 5%, 100% 50%, 50% 100%, 0% 50%);
  background-color: #62aaaa;
}

.right-column {
  margin-right: 15px;
}

.profile-picture {
  display: flex;
  margin: auto;
  object-fit: cover;
  width: 150px;
}