@import '../../utilities/color-palete.scss';

.panel-container {
  display: flex;
  flex-direction: column;
  
  .panels {
    display: flex;
  }
  
  .panel-container-banner {
    transform: translate(-15px, -45px);
  }
  
  @media screen and (max-width: 868px) {
    width: 100%;    
    
    .panels {
      justify-content: space-around;
    }


    .panel-container-banner {
      transform: translate(0px, 10px);
    }
  }
}

