@import '../../utilities/color-palete.scss';

.panel-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;

  
  .panels {
    display: flex;
    width: fit-content;
  }

  .panel-container-banner {
    width: 66vw;
    max-width: 1080px;
    position: relative;
    top: -65px;
    left: -12px;
  }
}

