@import '../../utilities/color-palete.scss';

.portfolio {
  padding: 100px auto 0px;
  background-color: $white;

  .projects-title {

    h2 {
      display: flex;
      justify-content: center;
      font-size: clamp(35px, 10vh, 50px);
    }

    .projects{

      .project {
        display: flex;
        flex-direction: row;
        margin: 15px auto;
        width: 50vw;
        justify-content: center;
        border: 1px solid $purple;
        border-radius: 10px;
        background-color: $light-blue;
        transform: skew(-20deg);
        
        .project-image {
          transform: scale(0.7) skew(20deg);
        }
        
        .project-info {
          margin: auto 0px;
          padding: 10px;
          width: 400px;
          transform: skew(20deg);
        }
      }
    }

  }
}