@import '../../utilities/color-palete.scss';

.banner-container {
  display: flex;
  margin: auto;
  background-color: $purple;
  border: 1px solid $purple;
  height: 25px;
  width: 90%;
  max-width: 1010px;
  position: relative;
  top: -75px;
  left: -10px;
  clip-path: polygon(0% 0%, 97% 0%, 100% 50%, 97% 100%, 0% 100%, 3% 50%);
  
  .banner {
    display: flex;
    height: 100%;
    width: 100%;
    transform: scaleX(0.998);
    background-color: $gold;
    clip-path: polygon(0% 0%, 97.2% 0%, 100% 50%, 97.2% 100%, 0% 100%, 3% 50%);
    color: $white;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    

    &:hover {
      cursor: pointer;
    }
  }
}