@import '../../utilities/color-palete.scss';

.banner-container {
  display: flex;
  background-color: $purple;
  border: 1px solid $purple;
  height: 30px;
  width: 100%;
  clip-path: polygon(0% 0%, 97% 0%, 100% 50%, 97% 100%, 0% 100%, 3% 50%);

  &:hover {
    border-color: $light-blue;
    background-color: $light-blue;
    transform: scale(1.03, 1.03);
  }
  
  .banner {
    display: flex;
    height: 100%;
    width: 100%;
    transform: scaleX(0.996);
    background-color: $gold;
    clip-path: polygon(0% 0%, 97.2% 0%, 100% 50%, 97.2% 100%, 0% 100%, 3% 50%);
    color: $white;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    

    &:hover {
      cursor: pointer;
    }
  }  
}